// Place all the styles related to the terminal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'Kosugi Maru';
  src: font-url('KosugiMaru-Regular.ttf')
}

html {
  font-size: 16pt;
}

body {
  font-family: "Kosugi Maru" !important;
}

.container {
  text-align: center;
}

.btn-bigger {
  font-size: 42pt !important;
  font-weight: bold;
  width: 640px;
  height: 480px;

  margin: 10px 10px;
}

.room-top {
  width: 840px;
  height: 240px;

  margin: auto;
  padding: 5px;

  position: relative;
}

.room-sub {
  width: 420px;
  height: 240px;

  margin: auto;

  position: relative;
}

.room-sub-left {
  margin-right: 0;
}

.room-sub-right {
  margin-left: 0;
}

.room-header {
  color: white;
  -webkit-text-stroke: thin black;

  position: absolute;
  top: 5px;
  left: 5px;
}

.img-room-top {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
}

.img-room-small {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;
}
