%p
  - if @room_status.status == 1
    = "#{@room_status.room_id}番の部屋をご利用ください"
  - else
    ご利用ありがとうございました。
    %br
    またのご来店をお待ちしております。

= button_to '終了', terminal_path, class: 'btn btn-success btn-bigger', method: 'get'
